body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#brandName {
    font-size: 15px;
}

.navbar {
    border-bottom: 1px solid orangered;
}

img {
    height: 100%;
    width: 100%;
}