body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#brandName {
    font-size: 15px;
}

.navbar {
    border-bottom: 1px solid orangered;
}

img {
    height: 100%;
    width: 100%;
}

.navbar-toggler {
    border: none;
}

#currentH3 {
    padding: 40px 0 40px 0;
    text-align: center;
}

.card-body {
    border: 0;
}

a {
    text-decoration: none;
    color: grey;
}